/* Estilos para a página inicial do sistema */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    margin: 20px;
}

nav a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px;
}

nav a:hover {
    background-color: #45a049;
}
