* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #3498db;
    padding: 20px;
    color: white;
    text-align: center; /* Centraliza o texto do cabeçalho */
}

.container {    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
}

.container2 {    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
}

h2 {
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
}

p.error {
    color: red;
    text-align: center;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #3498db;
    outline: none;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

a {
    color: #3498db;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Responsivo para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    h2 {
        font-size: 24px;
    }
    input[type="text"], input[type="password"] {
        padding: 12px;
    }
    button[type="submit"] {
        padding: 12px;
        font-size: 14px;
    }
}
