* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    width: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: white;
    padding: 20px;
    margin-top: 2px;
}

.secaoPrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 1.8rem;
    margin: 0;
}

p {
    color: #495057;
    margin: 20px 0;
    font-size: larger;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto 0;
}

button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

button:active {
    background-color: #bd2130;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 12px 25px;
        font-size: 0.9rem;
    }

    form {
        padding: 30px;
    }
}

@media (min-width: 769px) {
    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    button {
        padding: 15px 35px;
        font-size: 1.1rem;
    }

    form {
        max-width: 450px;
        padding: 50px;
    }
}